#box {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  padding: 8px;
  background: #009670;
  /*box-shadow: 10px 50px 2px black;*/
  box-shadow: 10px 50px 2px black, -10px -10px 2px red;
}
#box h1 {
  color: white;
  font-size: 60px;
  /*text-shadow: 3px 3px 1px #876543*/
  /*text-shadow: 20px 20px rgba(34,34,50,0.7);*/
  text-shadow: 4px 4px 4px black;
 }
